/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.backup-*
.env.production
.env.production.local
.env.staging
.env.staging.local
.env.development
.env.development.local
client_secret*.json
release-*.tar.gz
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Python artifacts
__pycache__/
python_scripts/__pycache__/
